.outerContainer {
  margin: 2em 0em 2em 0.3em;
  display: grid;
  grid-template-columns: 2em auto;
  grid-template-rows: auto auto;
  > *:first-child {
    grid-column: 1;
    grid-row: 1 / span 2;
    align-self: center;
  }
}

.container {
  display: flex;
  > *:first-child {
    width: 2em;
  }
}
