@import 'src/general_styles/configs.scss';

.container {
  background: $utupurple;
  padding: 2em;
  color: white;
  cursor: pointer;
}
.closedContainer {
  &:hover {
    background: $logodark;
  }
}

.title {
  font-weight: 400;
}

.content {
}
