@import 'src/general_styles/configs.scss';

.container {
  @include center_container();
}
.topbar {
  @include center_contained_relative();
  position: relative;
  margin-bottom: 0em;
  padding: 1em 0.1em 1em 0.1em;
}

.linkList {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  font-size: 0.8em;
  @media screen and (min-width: 900px) {
    // border-top: 1px solid $logodark;
    padding-top: 1em;
  }
  a,
  button,
  a:visited,
  a:active {
    color: white;
    background: $utupurple;
    padding: 0.4em;
    border-radius: 2px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    display: inline-block;
    margin: 0.3em 0.7em 0em 0em;
  }
  button {
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
  }
  // border-bottom: 2px solid black;
}

.menulauncher {
  position: absolute;
  left: 0px;
  top: 5px;
}

.lowerTopBar {
  margin-top: 2em;
  // @include center_container();
}

.siteHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    object-fit: contain;
    width: 100%;
  }
  @media screen and (max-width: 900px) {
    flex-flow: row wrap;
  }
}

.headingText {
  margin-left: 0.4em;
  @media screen and (min-width: 900px) {
    margin-top: 4em;
  }
  h1 {
    font-family: $headerfont;
    // font-variant: small-caps;
    font-size: 2.5em;
    color: $logodark;
    margin-bottom: 0.3em;
    // margin: 0 0 0.1em 0;
    // border-bottom: 9px solid #6875b2;
    // border-top: 9px solid #69adc0;
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
}

.highlight {
  color: $logolight;
}

.twisted {
  transform: rotate(-24deg);
}

.logoContainer {
  flex: 1 0 36%;
  @media screen and (min-width: 900px) {
    transform: rotate(-12deg);
    // transform: rotate(-7deg);
    margin-right: -4.2em;
  }
  @media screen and (max-width: 900px) {
    flex: 1 0 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 90%;
    }
  }
}

.activeLink {
  color: red;
}
