@import 'src/general_styles/configs.scss';

.container {
  @include center_container();
}
.topbar {
  @include center_contained_relative();
  position: relative;
  margin-bottom: 0em;
  padding: 1em 0.1em 1em 0.1em;
}

.linkList {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
  font-size: 0.8em;
  a,
  button {
    color: black;
  }
  li {
    display: inline-block;
    margin: 0.3em 0.5em 0em 0em;
  }
  button {
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
  }
  // border-bottom: 2px solid black;
}

.menulauncher {
  position: absolute;
  left: 0px;
  top: 5px;
}

.lowerTopBar {
  margin-top: 2em;
  // @include center_container();
}

.siteHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    object-fit: contain;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    flex-flow: row wrap;
  }
}

.headingText {
  margin-left: 0.4em;
  h1 {
    font-family: $headerfont;
    font-size: 2.5em;
    margin: 0 0 0.1em 0;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
  }
}

.logoContainer {
  flex: 1 0 36%;
  transform: rotate(-7deg);
  @media screen and (max-width: 600px) {
    flex: 1 0 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 90%;
    }
  }
}

.activeLink {
  color: red;
}
