@import 'src/general_styles/configs.scss';

@mixin container($disp: flex) {
  display: $disp;
  flex-flow: row wrap;
  margin: 0em 0em 3em 0em;
  padding: 0em 0.1em 0em 0.7em;
}

@mixin gridContainer() {
  padding: 0em 0.1em 1em 0.1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11em, 1fr));
  grid-gap: 10px;
}

.datasetlistContainer {
  @include center_contained_relative();
}

.datasetListGrid {
  @media screen and (min-width: 900px) {
    @include gridContainer();
  }
}

.datasetList {
  padding: 0em 0.1em 1em 0.1em;
  list-style-type: none;
  margin-top: 3em;
}

.filterContainer {
  @include container();
  margin: 1em 0em 2em 0em;
}

.resultNumberContainer {
  @include container('block');
  font-size: 0.8em;
  margin-left: 0.6em;
  margin-bottom: 0em;
  div + div {
    margin-top: 1em;
  }
}

.loaderContainer {
  margin-top: 2em;
}

.viewSelect {
  display: flex;
  align-items: center;
  margin: 1em 0em 1em 0.2em;
  padding: 0em 0.1em 0em 0.7em;

  > * + * {
    margin-left: 0.3em;
  }
}

.dsCount {
  font-size: 0.8em;
  background: $logodark;
  color: white;
  padding: 0.4em;
  margin-right: 1em;
  font-weight: 400;
}

.groupContainer {
  // sth
  position: relative;
  padding: 1em;
  grid-column: auto / span 4;
}

.groupTitle {
  // sth
  padding: 0.2em;
  font-weight: 400;
  margin-bottom: 1em;
}

.groupedDatasetsGrid {
  @include gridContainer();
}

.groupedDatasets {
  // sth
}

.moreButtonContainer {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.onlyInMobile {
  @media screen and (min-width: 900px) {
    display: none;
  }
}

.hideInMobile {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.moreButton {
  margin: 1em 1em 2em 0.7em;
}
