.orderContainer {
  position: relative;
}

.menuContainer {
  position: absolute;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 0.4em;
  margin-top: 0.3em;
  margin-bottom: 0em;
}

.menuList {
  padding-left: 0;
  list-style-type: none;
  font-size: 0.8em;
  margin-top: 0;
  margin-bottom: 0;
  li + li {
    margin-top: 0.4em;
  }
}
