@import 'src/general_styles/configs.scss';

$fieldwidth: 60%;
$labelwidth: 6em;

fieldset {
  @media screen and (min-width: 900px) {
    width: 50vw;
    max-width: 800px;
  }
  border: 0px;
  margin: 2em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  background: lighten(grey, 45%);
}

legend {
  background: $utupurple;
  padding: 0.3em;
  color: white;
}

.fieldContainer {
  display: flex;
  align-items: center;

  .upperContainer + &,
  & + &,
  & + .upperContainer {
    margin-top: 2em;
  }

  label,
  > div:first-child {
    width: $labelwidth;
    margin-right: 1em;
  }
}

.upperContainer + .upperContainer {
  margin-top: 2em;
}

.description {
  font-style: italic;
  font-size: 0.8em;
  color: lighten(black, 20%);
  margin: 1em 0em 2em 0em;
}

.mediatypeList {
  font-size: 0.8em;
  li {
    list-style-type: none;
  }
}

input[type='text'] {
  min-width: $fieldwidth;
}

textarea {
  min-width: $fieldwidth;
  min-height: 5em;
}

label {
  margin-right: 3em;
}
