@import 'src/general_styles/configs.scss';

.container {
  border: none;
  font-size: 0.8em;
  display: inline-flex;
  padding: 0.3em;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: $utupurple;
  cursor: pointer;
  color: white;
  > *:first-child {
    margin-right: 0.5em;
  }
  &:hover {
    text-decoration: underline;
  }
}

.noBackground {
  background: none;
  color: black;
}

.container[disabled] {
  background: grey;
  color: lightgrey;
  &:hover {
    text-decoration: none;
  }
}
