.genre {
  list-style-type: none;
  padding-left: 0em;
}

.languageDetailContainer {
}

.addedIndent {
  margin-left: 1em;
}

.transSelectContainer {
  margin: 1em;
}

.slSelector {
  margin: 2em 0em 2em 0em;
}
