@import 'src/general_styles/configs.scss';

.description {
  margin: 2em 0em 2em 0em;
  font-size: 0.9em;
  font-weight: 300;
}

.outerContainer {
  h3 {
    font-weight: 300;
    font-family: $bodyfont;
  }
  width: 100%;
  > div:first-child {
    margin-bottom: 1em;
  }
}
