@import "src/general_styles/configs.scss";

.siteheader {
  @include center_container();

  > div {
    @include center_contained_relative();
  }

  h1 {
    text-align: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
}
