@import 'src/general_styles/configs.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 0.8em;
  cursor: pointer;
  > div:first-child {
    margin-right: 0.2em;
    padding: 0;
  }
  margin-bottom: 0.4em;
  &:hover {
    color: $utupurple;
  }
}

.forward,
.backward {
  padding: 0.5em;
  border: 1px solid grey;
}

// .forward {
//   background: $utupurple-light;
//   color: white;
// }

.forward {
  color: black;
}

.backward {
  background: white;
  color: darken(darkgrey, 20%);
}
