@import 'src/general_styles/configs.scss';

@mixin itemBody {
  padding: 0.6em 0.5em 0.6em 0.5em;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $subheaderfont;
}

.datasetItem {
  @include itemBody();
  //box-shadow: -1px -1px 5px grey;
  //  transition: margin 75ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 75ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0em 0.7em;
  background: white;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.titleLine {
  &:hover {
    cursor: pointer;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: $subheaderfont;
}

.description {
  font-family: $prosefont;
  text-align: justify;
  max-width: 90%;
  margin-left: 1em;
}

.liftedItem {
  margin: 0.9em 0em;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
  transition: margin 75ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 75ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 90vw;
  @media screen and (min-width: 900px) {
    min-width: 100%;
  }

  @include itemBody();
  .titleLine {
    margin-bottom: 2em;
  }

  .title {
    font-weight: 900;
    font-size: 2em;
    font-variant: small-caps;
  }

  h3 {
    font-size: 1em;
    font-weight: normal;
    background: lightblue;
    padding: 0.3em;
  }
}

.versionPickerContainer {
  margin: 1em 0 1em 0;
}

.savedIndicator {
  font-size: 0.7em;
  color: darkgreen;
}

.quickDetails {
  margin-top: 0.2em;
  display: flex;
  flex-flow: row wrap;
}

.kwList {
  margin-top: 1em;
  padding: 0px;
  li {
    font-size: 0.8em;
    display: inline-block;
    background: lightgrey;
    padding: 0.2em;
  }

  li + li {
    margin-left: 1em;
  }
}

.langOuterCont {
  padding: 0.7em;
  background: $lightgreybg;
  border-radius: 5px;
}

.langOuterCont + .langOuterCont {
  margin-top: 0.3em;
}

.langHeading {
  font-size: 1.1em;
}

.langContent {
  margin-left: 1em;
}

.itemProp {
  margin-top: 1.1em;
}

