@import 'src/general_styles/configs.scss';

.container {
  @include sideMenu();
  bottom: 0;
  max-width: 20em;
}

.list {
  padding-left: 0px;
  font-size: 0.8em;
  li {
    white-space: nowrap;
  }
}
