.selectContainer {
  padding: 1em;
  border: 1px dashed grey;
  & + & {
    margin-top: 1em;
  }
}

.propSection,
propSectionRight {
  margin-top: 1.3em;
}
.propSectionRight {
  display: flex;
  justify-content: flex-end;
}

.additionalinfo {
  font-size: 0.8em;
}

.fieldinfo {
  margin-left: 1em;
}
