@import 'src/general_styles/configs.scss';

.additionalField {
  margin-top: 2em;
  margin-left: $labelwidth * 2;
  width: 60%;
  font-size: 0.8em;
  border-radius: 3px;
  > label {
    margin-right: 2em;
  }
}

.fieldContainer {
  display: flex;
  align-items: center;

  & + &,
  & + .upperContainer {
    margin-top: 2em;
  }

  label,
  > div:first-child {
    width: $labelwidth;
    margin-right: 1em;
    flex: 0 0 auto;
  }
}
