$navbg: darken(grey, 30%);
$bodybg: lighten(grey, 40%);
$contentbg: white;
$utupurple: #8b5dcb;

@mixin center_container($flow: row nowrap) {
  // wraps a centered content
  width: 100%;
  display: flex;
  flex-flow: $flow;
  justify-content: center;
  align-items: center;
}

@mixin center_contained_relative($width: 80%) {
  // content wrapped inside this will be aligned at center with margins
  // on large screens

  @media screen and (min-width: 900px) {
    width: $width;
  }
}

@mixin center_contained {
  // content wrapped inside this will be aligned at center with margins
  // on large screens
  @media screen and (min-width: 900px) {
    width: 80vw;
  }
}
