@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Roboto:300,400|Open+Sans+Condensed&display=swap');
$headerfont: 'Roboto', sans-serif;
$bodyfont: 'Roboto', sans-serif;
$prosefont: 'Josefin Slab', serif;
// $subheaderfont: 'Open Sans Condensed';
$subheaderfont: 'Roboto', sans-serif;

$navbg: darken(grey, 30%);
$bodybg: lighten(grey, 40%);
$contentbg: white;
$utupurple: #8b5dcb;
$utupurple-light: #ae87e4;
$fieldsetbg: lighten(grey, 45%);
$buttonbg: darken(darkgrey, 20%);
$labelwidth: 7em;
$fieldwidth: 60%;
$logodark: #272b51;
$lightgreybg: #f3f6f9e6;

input,
textarea {
  box-sizing: border-box;
}

.react-tabs__tab-panel {
  padding: 1em 0em 0.5em 1em;
}

// input,
// select {
//   -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
//   -moz-box-sizing: content-box; /* Firefox, other Gecko */
//   box-sizing: content-box; /* Opera/IE 8+ */
// }

@mixin center_container($flow: row nowrap) {
  // wraps a centered content
  width: 100%;
  display: flex;
  flex-flow: $flow;
  justify-content: center;
  align-items: center;
}

@mixin center_contained_relative($width: 80%) {
  // content wrapped inside this will be aligned at center with margins
  // on large screens

  @media screen and (min-width: 900px) {
    width: $width;
    max-width: 800px;
  }
}

@mixin center_contained {
  // content wrapped inside this will be aligned at center with margins
  // on large screens
  @media screen and (min-width: 900px) {
    width: 80vw;
  }
}
