// Styles applied to the entire application as a whole
@import './configs.scss';

body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

body > div {
  @include center_container(column nowrap);
  background: $bodybg;
}

main {
  @include center_container();
}

.outerContainer {
  background: $contentbg;
  @include center_contained();
  min-height: 99vh;
}
