@import 'src/general_styles/configs.scss';

.container {
  @include sideMenu();
  top: -10px;
  min-width: 10em;
  padding: 2em;
  max-height: 30em;
  // width: 30em;
  // min-height: 30em;
}

.saveButtonContainer {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.savedIndicator {
  font-size: 0.7em;
  color: darkgreen;
  display: flex;
}

.savedIndicatorText {
  margin-left: 1em;
}

.saveInfo {
  display: flex;
  > div:first-child {
    margin-right: 2em;
  }
}
