.container {
  position: relative;
  z-index: 0;
  font-size: 0.9em;
  padding: 0.4em;
}

.options {
  padding: 0em 0em 0em 2.3em;
  margin: 0em;
  li {
    margin-top: 0.6em;
    list-style-type: none;
  }
}

.orderButton {
  border: none;
  padding: 0.5em;
  background: white;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  svg:first-child {
    margin-right: 0.3em;
  }
}
