.menucontainer {
  position: relative;
}

.logoutMenu {
  position: absolute;
  padding: 1em;
  z-index: 999999;
  margin-top: 1em;
  background: white;
  min-width: 300px;

  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.2);
}

.buttonClass {
  padding: 0.4em;
  border-radius: 2px;
  font-size: 1em;
}

.rightsList {
  padding-left: 0;
  .listItem {
    display: flex;
    list-style-type: initial;
  }
}
.rigthLegend {
  margin-left: 1em;
}

.rightsSection {
  margin-bottom: 2em;
}

.dsLink {
  background: none;
  color: black;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

.logoutContainer {
  margin-top: 2em;
}
